PORT=5000
DATABASE_URL=postgresql://neondb_owner:YOUR_KEY@ep-cool-frost-123456-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require
JWT_SECRET=super_katha_secret_key_change_in_production

# Google SMTP (App Password)
SMTP_USER=katha.support@gmail.com
SMTP_PASS=uxxgdqhsjwslnwwv

# Cloudflare R2
R2_ACCOUNT_ID=67e772dd897620d84876710866e4f84d
R2_ACCESS_KEY_ID=032ea602baf73314db9c5f1f22edf424
R2_SECRET_ACCESS_KEY=417955952d6d1f3b833ab0aa791cc4d01ee8cc797e4f8a6c25637470cfd003b6
R2_BUCKET_NAME=katha-media
R2_PUBLIC_DOMAIN=https://pub-aae2acdaaec7498dab6a201cc236d51a.r2.dev